#main_chart {
	border: 1px solid black;
	// @media (max-width: 800px) {
	// 	width: 400px;
	// }
}

#chart_info {
	font-family: "Verdana";
	font-size: 20px;
}

.fb_bar {
	fill: blue;
}

.yt_bar {
	fill: red;
}

.x_label {
	font-family: "Verdana";
	fill: red;
}
