#container {
  margin: 0 auto;
  font-size: 30px;
  padding: 0.2em;
  @media (min-width: 500px) and (max-width: 599px) {
    font-size: 25px;
  }

  @media (min-width: 330px) and (max-width: 499px) {
    font-size: 20px;
  }

  @media (max-width: 329px) {
    font-size: 16px;
  }
}

#header {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.2em;
  text-align: center;
}

#chart_container {
  display: flex;
  flex-direction: row;
}

.box_category {
  flex: 1;
  display: flex;
  flex-direction: column;
  //flex-basis: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-size: 1.2em;
  color: #ffffff;
}

.box_content {
  flex: 1;
  flex-basis: 100px;
  height: 150px;
  position: relative;
  margin: 1px;
}

.fb_box {
  background: rgba(59,89,152, .8);
}

.yt_box {
  background: rgba(204,24,30, .8);
}

.box_info {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  //line-height: 100px;
}

.box_title {
  visibility: visible;
  font-size: 1em;
  animation: 0.5s ease 0.5s 2 shakeText;
}

@keyframes shakeText {
  33% {transform: rotate(-0.5deg);}
  67% {transform: rotate(0.5deg);}
}

.box_stat {
  visibility: hidden;
  font-size: 1em;
}

.fb_stat {
  color: rgb(59,89,152);
}

.yt_stat {
  color: rgb(204,24,30);
}

.highlightInfo {
  background: #ffffff;
  animation: 0.75s ease-in revealInfo;
}

@keyframes revealInfo {
  50% {
    font-size: 1.1em;
  }
}
