#container {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid black;
}

#header {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

#chart_container {
  display: flex;
  flex-direction: row;
}

.box_category {
  flex: 1;
  display: flex;
  flex-direction: column;
  //flex-basis: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: #ffffff;
}

.box_content {
  flex: 1;
  flex-basis: 100px;
  height: 100px;
  position: relative;
  margin: 1px;
}

.fb_box {
  background: rgba(59,89,152, .8);
}

.yt_box {
  background: rgba(204,24,30, .8);
}

.box_info {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box_title {
  visibility: visible;
}

.box_stat {
  visibility: hidden;
}
